 .box1 {
            margin: 15px;
            padding: 15px;
            border: 8px solid red;
            background-color: lightblue;
            width: 200px;
        }
        .box2 {
            margin: 30px 10px;
            padding: 25px 20px;
            border: 5px dashed blue;
            background-color: #e0e0e0;
            width: 180px;
        }
        .box3 {
            margin: 15px 25px 35px 5px;
            padding: 10px 30px 20px 15px;
            border: 2px dotted green;
            background-color: #d0d0d0;
            width: 220px;
        }