 .inline-nav a {
            display: inline;
            padding: 10px;
            background-color: #e0e0e0;
            margin: 5px;
            text-decoration: none;
            color: black;
        }
        .block-nav a {
            display: block;
            padding: 10px;
            background-color: #d0d0d0;
            margin: 5px 0;
            text-decoration: none;
            color: black;
            width: 200px;
        }
        h2 {
            margin-top: 40px;
        }