 body {
            margin: 0;
            padding-top: 60px;
        }
         .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #333;
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding: 0 0;
            z-index: 1000;
        }
        .logo {
            color: white;
            font-size: 24px;
            font-weight: bold;
        }
        .nav-links {
            display:flex;
            gap: 30PX;
        }
        .nav-links a {
            color: white;
            text-decoration: none;
        }
        .content {
            height: 1000px;
            padding: 20px;
        } 