 body {
            margin: 0;
            padding: 20px;
            height: 1500px;
        }
        .container {
            position: relative;
            width: 400px;
            height: 400px;
            border: 2px solid black;
            margin: 50px;
        }
        .box {
            width: 150px;
            height: 150px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
        .static-box {
            background-color: blue;
            position: static;
        }
        .relative-box {
            background-color: green;
            position: relative;
            top: 20px;
            left: 20px;
        }
        .absolute-box {
            background-color: orange;
            position: absolute;
            bottom: 0;
            right: 0;
        }
        .fixed-box {
            background-color: red;
            position: fixed;
            bottom: 10px;
            left: 10px;
        }